name: CD

on:
  push:
    tags: v[0-9]+.[0-9]+.[0-9]+
  workflow_dispatch:
    inputs:
      version:
        description: Version to deploy
        default: 1.0.0

env:
  TARGET_VERSION: ${{ github.event.inputs.version || github.ref }}

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Strip target version prefix
        run: echo TARGET_VERSION=${TARGET_VERSION#refs/*/v} >> $GITHUB_ENV
      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.TARGET_VERSION }}
          release_name: Anibot v${{ env.TARGET_VERSION }}
